/* Sidebar Styles */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #07b086; /* Dark background color */
    color: white;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .sidebar-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #07b086; /* Darker header background */
    padding: 10px 0;
  }
  
  .sidebar-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar-link:hover {
    background-color: #495057; /* Lighter background on hover */
  }
  
  .sidebar-icon {
    font-size: 20px;
    margin-right: 10px;
  }
  
  ul {
    padding-left: 0;
    margin: 0;
  }

 /* Footer Styles */
.footer {
    background-color: #4dd19cdd; /* Dark background for footer */
    color: #fff; /* Lighter gray text color for better contrast */
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer .container {
    max-width: 1200px; /* Max width for the content */
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .footer p {
    color: #c33f3f; /* Lighter gray for the text */
    font-size: 14px; /* You can adjust the font size */
  }
  
  .footer a {
    color: #f8f9fa; /* Change link color to light */
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #ff5733; /* Optional: change color on hover */
  }
  